<h1 class="text-center">Login & Registration</h1>

<div class="container">
    <div class="row justify-content-evenly mt-5">
        <div class="col-4">
            @await Html.PartialAsync("_Register")
        </div>
        <div class="col-4">
            @await Html.PartialAsync("_Login")
        </div>
    </div>
</div>